:root {
    --color-white: hsl(0, 100%, 100%);
    --color-black: hsl(0, 0%, 0%);
    --color-grey-500: hsl(217, 12%, 63%);
    --color-grey-900: hsl(213, 19%, 18%);
    --color-grey-950: hsl(216, 12%, 8%);
    --color-orange-500: hsl(25, 97%, 53%);
    --color-gradient-1: linear-gradient(
        to bottom,
        hsl(215, 20%, 17%),
        hsl(216, 24%, 12%)
    );
}
