@use "../utils/" as u;

.card {
    &__thanks {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--img {
            width: clamp(9rem, 7.875rem + 3vw, 10.125rem);
            margin-block-end: u.rem(32);
        }

        &--rating {
            display: flex;
            align-items: center;
            background-color: var(--color-grey-900);
            padding-block: 0 u.rem(16);
            color: var(--color-orange-500);
            height: u.rem(32);
            border-radius: u.rem(22);
            margin-block-end: u.rem(24);

            @include u.text-preset-5;

            @include u.breakpoint(small) {
                @include u.text-preset-4;
            }
        }

        &--text {
            color: var(--color-white);
            margin-block-end: u.rem(16);

            @include u.text-preset-2;

            @include u.breakpoint(small) {
                @include u.text-preset-1;
            }
        }

        &--details {
            color: var(--color-grey-500);
            text-align: center;

            @include u.text-preset-5;

            @include u.breakpoint(small) {
                @include u.text-preset-4;
            }
        }
    }
}
